# PostgreSQL Configuration
DB_NAME=onboarding
DB_USER=admin
DB_PASSWORD=password123
DB_PORT=5432

# Redis Configuration
REDIS_PORT=6379

# pgAdmin Configuration (interface d'admin BDD)
PGADMIN_EMAIL=admin@trustdev.com
PGADMIN_PASSWORD=password123
PGADMIN_PORT=5050

# RabbitMQ Configuration
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest