[submodule "dashboard"]
	path = dashboard
	url = https://gitlab.trustdev.info/pfe2026/module-intelligent-onboarding-et-decouverte/dashboard.git
[submodule "backend"]
	path = backend
	url = https://gitlab.trustdev.info/pfe2026/module-intelligent-onboarding-et-decouverte/backend.git
[submodule "docs"]
	path = docs
	url = https://gitlab.trustdev.info/pfe2026/module-intelligent-onboarding-et-decouverte/docs.git
[submodule "ml"]
	path = ml
	url = https://gitlab.trustdev.info/pfe2026/module-intelligent-onboarding-et-decouverte/ml.git
[submodule "sdks"]
	path = sdks
	url = https://gitlab.trustdev.info/pfe2026/module-intelligent-onboarding-et-decouverte/sdks.git
