
/node_modules
/dist
.idea/
.cursor/
.worktrees/
/docs/
# Docker & BDD
.env
.venv/
!.env.example
docker-compose.override.yml

# Volumes Docker 
**/postgres_data/
**/redis_data/

# Dumps SQL temporaires
*.dump
*.sql.backup