[submodule "dashboard"]
	path = dashboard
	url = https://github.com/DHRezgui/guidora-dashboard.git
[submodule "backend"]
	path = backend
	url = https://github.com/DHRezgui/guidora-backend.git
[submodule "ml"]
	path = ml
	url = https://github.com/DHRezgui/guidora-ml.git
[submodule "sdks"]
	path = sdks
	url = https://github.com/DHRezgui/guidora-sdks.git
