[submodule "dashboard"]
	path = dashboard
	url = https://github.com/DHRezgui/Guidora-dashboard.git
[submodule "backend"]
	path = backend
	url = https://github.com/DHRezgui/Guidora-backend.git
[submodule "ml"]
	path = ml
	url = https://github.com/DHRezgui/Guidora-ml.git
[submodule "sdks"]
	path = sdks
	url = https://github.com/DHRezgui/Guidora-sdk.git
